# gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle/
build/
out/
dist/
local.properties
*.log
output.json

# kotlin
.kotlin/
kotlin-js-store/

# IntelliJ
*.iml
.idea_modules/
.idea/*
!.idea/.gitignore
!.idea/AndroidProjectSystem.xml
!.idea/deviceManager.xml
!.idea/inspectionProfiles/
!.idea/kotlinc.xml
!.idea/runConfigurations.xml
release/
debug/
*.apk
*.aab
*.zip
*.tar
*.tar.gz
*.tgz
*.deb
*.dmg
*.msi
*.tmp
*.bak
*.old
*.swp

# signing
*.jks

# macOS
.DS_Store
